<%# TODO set up active class %>

<div class="filters about-nav">
  <div class="filters-topic">
    <div class="filter-buttons">
      <%= link_to "Project Team", :about, class: "btn btn-filter btn-primary" %>
      <%= link_to "About the Archives", :about_archives, class: "btn btn-filter btn-warning" %>
      <%= link_to "Acknowledgements", :about_thanks, class: "btn btn-filter btn-warning" %>
      <%= link_to "Website Technology", :about_tech, class: "btn btn-filter btn-warning" %>
      <%= link_to "Project History", :about_history, class: "btn btn-filter btn-warning" %>
    </div>
  </div>
</div>
