<h1>
  <span data-field="title">Conversation with Rosemary Johnson</span>,
  <span data-field="date_display" data-date="2019-07-25">July 25, 2019</span>
</h1>
<p>Conducted with Jessica Dussault and Tony Falcone</p>

<div class="introduction card card-body bg-light">
  At the time of this interview, Rosemary "Rose" Johnson was an Administrative Tech and had been a staff member with the band program for over 40 years.

  <h2>Links to Topics</h2>

  <div class="row interview-contents">
    <div class="col-md-4">
      <ul>
        <li>
          <a href="#snider_fought">Snider and Fought</a>
        </li>
        <li>
          <a href="#technology">Changing Technology</a>
        </li>
        <li>
          <a href="#bre">Big Red Express</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>
          <a href="#pit">Front Ensemble</a>
        </li>
        <li>
          <a href="#bowls">Planning Bowl Trips</a>
        </li>
        <li>
          <a href="#international">Traveling Internationally</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>
          <a href="#traveling">Traveling Memories</a>
        </li>
        <li>
          <a href="#family">Family Connections & Getting the Job</a>
        </li>
        <li>
          <a href="#big10">Big 10 and Hotel Memories</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="interview-video">
  <% preview_img = iiif("website/johnson_interview_2019_preview.jpg") %>
  <video controls preload="none" poster="<%= preview_img %>">
    <% video_link = "#{PRIVATE["media_path"]}/video/bandhistory/interviews/johnson_interview_2019_small.mp4" %>
    <source src="<%= video_link %>" type="video/mp4">
    <p>Your browser doesn't support HTML5 video. Here is
       a <%= link_to "link to the video", video_link %> instead.</p>
  </video>
</div>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Today is Thursday, July 25th, 2019. This is the start of an interview with <span data-person="bh.per.082">Rose Johnson</span> in Lincoln, Nebraska. My name is <span data-person="bh.per.083">Jessica Dussault</span>, I will be asking some questions assisted by <span data-person="bh.per.018">Tony Falcone</span>, the Director of the Cornhusker Marching Band.  We'll be talking about Rose's career with the marching band and her family's connection to the ensemble, and this is being done as part of a website being launched on the band's history. So, thanks for talking with us!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   It's a pleasure. It's a pleasure.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  So I was wondering if you could just start by telling us a little about what you do now with the band.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Okay well, I primarily work with all aspects of the bands but I do a lot of travel arrangement for all of the athletic bands but also the ensembles for the School of Music. I coordinate the audition process, and contact the students, and make sure and track their auditions and make sure they have all the information they need and then <span data-person="bh.per.084">Jan</span> [Deaton] and I do the data processing and the contacting about what the second round auditions are gonna be. I help with scheduling on that and then I assist with the summer camps and then just in the day to day business. Do a lot of the students that are on campus visits, they come in and talk to me if they're interested in band. This last year I did a 140 of those.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Wow
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Ha yeah that's a lot of fun, though. I really enjoy that. And especially if they're interactive so we kind of have a good visit, that's nice.
<% end %>

<h3 id="snider_fought">Snider and Fought</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   And you started in 1978, right?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Yes, June 5th, 1978 was my first day. I was making two dollars and sixty-seven cents an hour, and amazingly, I could live on that. Couldn't now, but I could then. Yup.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   So what kind of job? Was it a similar job to what you're doing now?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   No, it was, it segued a lot, it's grown a lot, because originally I was hired as a secretary for <span data-person="bh.per.012">Jack Snider</span>, who was the Director of Bands then, and so I did primarily his bookkeeping, his correspondence, answer the phone, and then whatever he needed help with. And he taught a lot of music classes in like, conducting, literature, so I helped him keep track of the scores and libraries for that. And then if he needed something researched, I would do that for him. But mostly it was just a personal assistant kind of a job. And then, as the program grew, and as we had more students and all that, and the job just sort of segued and got bigger and bigger and more detailed and I did other things, and then when Jack retired then I took over some of the things he had been doing, like travel and all that. He used to plan all the trips when I first started.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   What was he like as a person? To work with?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   He was a wonderful man, very kindhearted. He could be tempery, you know, he'd let you know if you stepped out of line, you know, but he was a very kind man, very interested in the students. He was going to concerts up until about 6 months before he passed away. If he was involved with a student in any way, he'd be in there doing a recital or a concert, he'd be there. And he'd go to other family things, too, you know. He came to my dad's funeral. So, he was just a really kind, nice guy, he could remember people from way back. And very interesting, and he was very willing to teach, and teach you how to do it. He helped me learn what this job was all about. Great guy.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  The marching band director when you started would have been <span data-person="bh.per.013">Fought</span>, is that correct?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Doctor Fought, yes.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  What was he like?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Very interesting.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  If you didn't start with marching band, specifically
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Yeah, well I did a little bit of things for him because back then, he wrote drill on big graph paper and he'd do it in pencil, and he'd write the instructions, and then he'd bring it to me and I would, with an ink pen, you know, outline the dots and the Xs and then over his handwriting in the instructions, and then we'd take it over to the print shop and they would reduce it down to legal sized paper, and they didn't have a collator or a stapler, so when they were done with that they'd call us and we'd go over and get you know, big boxes of paper and we'd set up tables in this south hallway, and we'd get students and we'd go walking around and around and around the table, collating the charts, and stapling them. And we did that for every show. So it was very labor intensive, so I helped with that. But he was very detailed, very kind person, he had a completely different style of writing than Jack. Jack did a lot of picture shows when he was, and Doctor Fought did a lot of geometric designs, so it was, you know. And then he added color guard and things like that. But he was fun to work with, saxophone player. He taught saxophone and did marching band and did symphonic band so he had a big job. But yeah, he was very interesting, very tall. So when he was standing on a ladder that was something, you know. But yeah, I enjoyed working with him.
<% end %>

<h3 id="technology">Changing Technology</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  So you've actually been here during 7 marching band directors, which isn't including various directors of bands and like, assistant directors, things like that, including Tony Falcone. So how have you noticed over time just how the program has developed through various directorships?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Well, I think one of the things that has stayed stable is that all of the band directors have been really open and easy to approach and very kind and helpful, and interesting people. So that helps, and the program has just grown bigger and bigger and more students are involved which is wonderful. So that part has changed but also, the technology of what we do has changed, and so, you know, we're not inking things by hand anymore which is lovely. And so we can do more, faster, you know, and we can make changes faster than we ever did before, too, so we're just, the new technology helps us a lot. The students have everything on an iPad, now.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Which you [gestures at Tony Falcone], you added, right?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
   Yes, well, we added it as a team, I wouldn't take full credit for it. But yeah, we just finished our third year with the iPads, and our, we had a three year contracts and those are rolling over, we're getting new ones and we're gonna upgrade the software so we're even going to be able to do some new and exciting things with the new software that we weren't able to do three years ago.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yeah, so now I find that fascinating, it's fun to learn new things like that, cuz when I first started we had two telephone lines and an IBM electric typewriter. And the students now don't even know what a typewriter is. And we thought we were very efficient and great, when we started, but things have just you know, changed a lot. And that's been fun to learn.
<% end %>

<h3 id="bre">Big Red Express</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  So speaking about new things, I've been sort of curious about the development of the Big Red Express. Would that have been during your time here?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yes, when I first started there was a kind of loosely knit men's basketball band. It wasn't a class or anything, it was whoever wanted to come and play could go to the basketball game and if you had an instrument in your hand you got in. So sometimes it would be a small group and sometimes it would be a huge group, you know, depending on who they were playing. I think there was a core group of people every time, you know, but the rest of it was sort of fluid. And then after about 8 to 10 years, the athletic department wanted to have it be more standardized and have a set seats and things, and then we were starting to follow the women's sports as well. So it was kind of decided we would have, we would cover men's basketball, women's basketball, and volleyball. And we had, initially, a set band for each one of those sports. And then the schedules got so the point that it would, it seemed better to combine it into one so we didn't have to have three separate directors and all of that, so it just kind of, segued into it, and grew into that. And now it's 120 kids plus subs and then we travel too. I think one of the first trips, that I remember anyway, was to NCAA volleyball tournament, Final Four to Hawaii, with you know, and we didn't send the whole, like we do now, 29 students and a director, it was a smaller group but that, that was kind of a sweet trip for people, and they got to play and they flew over with the team.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Did you get to go?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   No, I didn't
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  If I remember correctly, you had a little time directing the volleyball band.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  I did, for a while!  For a while there, we had a small group of faculty, we had one faculty member, and some drum majors, and we didn't have many GTAs there for a while, and so I sort of was the adult in charge of the group. And I did take a group to the final four in washington DC. They were playing at University of Maryland. That was a fun trip, we flew with the match club.  Yeah, the match club. And they're a wild group. They were a lot of fun. They are the fans for the volleyball team. You know, they have a club, and so, that was really early in, I think that was 1990. But yeah, we did that until we were able to hire a person. And I think you were the next one? Or maybe it was <span data-person="bh.per.085">John DeStefano</span>, I can't remember.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
   John DeStefano was before me, I believe, and I don't know what happened before him. That was part of my duties when I was hired initially, was Big Red Express.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  And so now it's more formal and it's a class and so, but, it was fun.
<% end %>

<h3 id="pit">Front Ensemble</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Another new change, in the last several years, was the front ensemble. Which I think is a question for both of you, but how did that change the logistical planning and why add a front ensemble?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  Well to address the 'why,' it had been a standard in the activity for decades and many of the larger programs were slow to bring them around. In fact most of the Big 10 schools still don't have them. I think it, the reasoning has one foot in tradition and one foot in it's a lot of expense and it's a lot of extra logistics, but my feeling was there are students that that's what they play, and they're coming up through these great high school programs and didn't have anywhere to go with what they play so if they didn't play a secondary instrument or sometimes the front ensemble was their secondary instrument because they played a non marching band instrument, then they couldn't participate and I thought that's a big missed opportunity for having good quality students in the group, plus the musical dimension that it adds. There are aspects to what we do musically that we couldn't do, so that was kind of the reasoning. It's funny, I was going through my office looking at some photographs just this morning and I came right across some photos of the very first front ensemble.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Oh cool!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  So I'll share those.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  That's nice. I remember it took us a while to kind of get a feel for it. And figure out how we were going to do it. And of course it's space in the stadium, and we gotta figure out how we're gonna get things over and is that, are there ramps? Is there something in the middle of where we want to go? And we always try to get the truck as close to the stadium as possible, but there are times when it's you know, a long ways away, and then the people in the front ensemble have the push the equipment. And so, now last time we went to Illinois, they had to push the equipment a long ways, they had to do it twice, and so I let them be first in line at dinner. So, help them a little bit, but it's fun, I think that it's marvelous. I just marvel at how well they play. And I think it does add a special kind of level or texture to what we're doing.  It's nice, to give more people an opportunity I think is wonderful.
<% end %>

<h3 id="bowls">Planning Bowl Trips</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  So you also plan bowl trips quite extensively. How can you start planning something like that given that you don't know where you're going for quite a while?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yeah well it helps for one thing that I've been doing it a long time. Another thing that helps is that now most of the bowls will set aside or already have contracts established with four hotels, or five actually. One for the media, two for each team and two for each band. When I first started, you were on your own. And so, I remember the year, 1992, the year that Hurricane Andrew hit Miami, then we were coming after that for the '93 Orange Bowl, and all the people that were helping to rebuild were in the hotels in Miami, or the ones that were still habitable. And part of the contract with the Orange Bowl is that you stay in Dade County. Well, there was nothing available in Dade County. And so I called oh, seemed like 100 hotels, I don't know if that's the actual number but it certainly felt like it. And you know, no internet then or anything like that. I had an old AAA guide book with lists of hotels and I called and called and called and I finally found one that was willing to take us and coincidentally, it was in downtown Miami right in front of the starting space for the parade so that was convenient! Florida State had to stay in Dayton. So we lucked out with that but oh. It rained like crazy.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  A lot of it depends on the bowl, too. So the more well established, older, prestigious bowls take better care of you, they'll assign somebody to you you who is with you all the time, they'll have scouted out some rehearsal space for you, but some of these bowls that haven't been around for so long, you're lucky if you see a representative and oh you wanted to rehearse? Well you'll have to figure that out on your own. And it's been a while too, that we've been able to take advantage of, there are national services that help with housing and meals that you can just call them up and say "hey we're gonna be in this city for this amount of time" and they'll help you set up all the meals.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yeah, we have contacts with that, because when we first started there wasn't such a thing. So that helps a lot, and uh, but every once in a while something will there will be a ridge in there, cuz that, you know, that Orange Bowl it rained so much. We were standing in front of our hotel you know getting in line and it just, the skies opened up and it was like standing in front of a fire hose it was raining so hard. And <span data-person="bh.per.015">Jay Kloecker</span> was the director then and he turns to me and said "go find a dry cleaner" and it's New Year's Eve night! So I said "okay" and I ran back to the hotel and up to my room and took the Miami phone book and the yellow pages and just started calling. And the first person, first you know, ones that answered the phone I just started begging. And they did, they came and picked up the uniforms after the parade, took them back, and tried to dry them out and everything. Because back then we had a lot of wool in the uniform and it just soaked up that water, and so they brought them back the next morning before the game and we sorted them out and I hadn't thought at that time to bring, of course everything was on paper, to bring a list of who had what. So before they had taken them away, before the students took them off I said "write down your numbers." And so we were able to pretty much get the right things back the next day but we had, you know, volunteers come and help us and everything. But then we get to the game and the first half of the game was fine and then it just started to pour again it was just [slumps shoulders and slaps legs].  We went home soaking wet and then there was a picture the next day, the dry cleaners met us here and collected everything and then took it out to their shop and they hung everything up and when they opened the door there was just water running out the door of the shop. But now we have a different fabric. It drip dries much better. But that was, you know, you have to be able to think quickly, and learn how to negotiate. It's easier now.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Well and now you have a truck as well that helps gets things
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  We have a truck.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  How else has planning bowl trips changed over the years?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Oh gosh well, the internet of course has helped a lot and brokers and things have helped. The bowls have, travel has become a little easier, we fly more than we used to. If it's within 1,000 miles we will drive. We went to the Music City Bowl two years ago and drove to that. Most of the time if it's over that we will fly. University has been chartering 747s for us, so that's sweet. That's really nice to fly. That plane we took to the Foster Farms Bowl was beautiful, brand new plane. Can't promise that every time, but it was nice. So that's easier. But also we have more people than we did before. The first time I ever flew was when we went to the 1978 Orange Bowl. First time I'd ever been in a big plane. But you know, it did the, back when we went to the Rose Bowl the band was 350 people, so that was an enormous group of people to take. It was ten buses. So it's easier to do 300, that's a workable number, I think. But now, too, cell phones. I remember driving to Florida for an Orange Bowl, can't remember what year it was. We did three trips in a row, driving down there, and a tire on my bus blew. And so we had to pull over, but there was no way to contact help. We had to kind of wait for a kindly semi driver to pull over and then CB [radio] for help. And you know I used to carry a bag full of quarters, for emergencies and things, to call with a pay phone. Course now, I just whip out the old phone and call. So that's a blessing. Much as I hate robo calls, but it's still a blessing.
<% end %>

<h3 id="international">Traveling Internationally</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Have you been involved with internationally planning trips?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Yes. Yes, a few. We did, of course, the first one was the 1996 trip to Ireland and London. We took 600 people on that one. That was a little insane. But it was 300 performers with marching band and wind ensemble, and another group of 300 of alumni and parents. And they of course couldn't all go to things at once, but just kind of rotated. We didn't all stay in the same hotel, but we had a travel agent who did a lot of the work and helped us out. And then again in 2000, I didn't go on that trip but you [Falcone] did. Back earlier in the '70s, in '74, the band went on a multiple country tour. <span data-person="bh.per.086">My brother</span> went on that and I did all his fundraising for him. I was a student here and every time I went home he would come to my dorm room with bumper stickers and chocolate bars and all of these things they were selling and he'd make me take my clothes out of my suitcase and put all that stuff in the suitcase and go "now go up there to your hometown, you know Dubuque, and sell all this stuff" and I'm going "okay." But yeah, he had a great time. I think they went to, they were in England, France, Austria, Germany, and I don't know what the order was, but I think it was that order. But they had a great time. One of the drum majors got captured by the Swiss Army. Went on a hike where he wasn't supposed to be. But he didn't understand the signs saying, you know, "army maneuvers going on" so he walked into the middle of it and got taken prisoner by the Swiss Army.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
   Did they take him down with a corkscrew and a little [pantomimes opening Swiss Army knife]?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Yes, but he was late for the concert in the town square down at the bottom of the mountain and Jack was pacing around going "where is he? Where is he?" and then a little bit later after the concert he kind of gets brought back by the army and dropped off at the hotel. But, he had a good excuse.
<% end %>

<h3 id="traveling">Traveling Memories</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Do you have any other memories, either good or bad, of traveling with the band? Or planning for travel with the band? I know my brother was in the band that year [2009] you didn't go to a bowl trip.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Because of snow? Yes, Holiday Bowl. Yeah. I shoveled snow for four days and then you know it ended up getting canceled. It was just, we would not have made it, we were going to try bus, but that did, as a result of that, we fly more than we drive now. So that was a good outcome of that. But you know, weather happens! And it was just, you know, we got it all at once. That was a lot of snow. But you know, you do have to be able to adjust sometimes. I remember there was one time in the '90s we were gonna, we got invited to the Citrus Bowl in Orlando. And we'd come down here and packed up the trucks and gotten everything ready to go to take to the airport. Back then we had a small enough band we could put the instruments on the plane and the people. And so the student helpers did that and took that but they called me and said "it's really icy out here and the ice is coming down and the airport's a little [gestures frantically] but they're gonna call you" and I said "okay" and then later on that evening they called me and said "yeah we've closed the airport" so  we were supposed to leave that night, and so then I had to call around to the <span data-person="bh.per.087">Chancellor</span> and the Athletic Department and tell them that we were going to have to reschedule and we'd miss the parade in the morning and everybody was cool with it. And then we reworked, Delta was flying us that year, and we reworked that, and left the next day, but that was a scramble. And again, that was before Facebook and the internet and cell phones and we had students come down here and get as many phones as they could and start calling people. And back then we used to have a phone tree, you know, start with the drum majors and the GAs and the drum majors and then the section leaders and then the rank leaders, you know, and it just kind of followed it down, and we got everybody contacted and bless their hearts, the hotels near the airport opened up rooms for the kids that were already here, and so they gave them space for a really reduced rate, some just stayed at the airport, some stayed at you know, friends' places, but we got there. The crazy thing is we had all these things planned, so we'd get one thing going and then I'd race around trying to find a payphone and call up and rearrange the next thing we were gonna do, so it was a little scrambled, but we got it done.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Do you have a favorite memory of traveling or Bowl trips?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Well Ireland was really a lot of fun, but you know those championship football games, were special, especially because it took a while to get there. We went to, we were in the '90s we were, in the '80s and '90s, we were in a lot of championship games, we just weren't winning them. Then finally when <span data-person="bh.per.088">Tom Osborne</span> got his first win, that was special. Cuz we all respected him so much, and then you could see that the players had given everything they had. That was an incredible game first of all, the '94 Orange Bowl, and then to have won it, was great. And then, I had a friend in the Florida State Patrol and he arranged his buddies, he said "we'll get you to the airport" because we were running a little late, and so "okay, great" and we got in our buses and were going to go off and they shut down the interstate in front of us, for all of the on ramps, they shut them down so we could just go [gestures forward with hand] right to the airport like that, and the students enjoyed that. But that was nice. And then as we were flying back, one of the flight attendants came and got me and said "the pilot wants to talk to you," and I thought "okay" and I went up to talk to them. And he said "do you have a phone number for the Lincoln Airport?" And I said "yeah" and he said "I'm changing the route so we can get there faster and get you home" so he says "I gotta call and make sure somebody's in the tower." And so I gave him the number and, but that was cool, sitting up front for a while. And then when we got home there were people all over the city waiting for the team, of course, to come back. That was exciting, that was fun. The rest of them were fun, too. I enjoyed them.
<% end %>

<h3 id="family">Family Connections</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Well so this is switching gears a little bit, but you had several family members that were in the band.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
   Yes, uh huh
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   You mentioned your brother, Bryan, who I think would have been in the band when women were admitted in 1972. Is that correct?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yes, his first year was 1971, fall of 1971, so yeah, he was one, of course he knew the five women who were the first. And I think that was kind of a tough row for them, because it had been men only for you know, since WWII, well, almost always except for WWII. And so they had to be strong women, but Bryan said they were wonderful players, and you know, that it was a good thing. And I think, doing that, you know, enabled, 51% more people, you know. So it's great that we can enable everyone to have the opportunity, that's wonderful.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  So Bryan was there for several years as an undergrad, and then he was a graduate assistant, and then he went on to become a band director, do I have that right?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yes you've got the sequence right. Yeah he was uh, an alto saxophone player for his undergraduate in marching band and then he came he segued right into getting a master's degree and then he taught in Oakland, Nebraska for 31 years. Yeah. And he was secretary treasurer of the NMEA organization for many, many years and he's kind of like, we're the same, he stayed in one school for his entire career. He really enjoyed teaching.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  And you had a <span data-person="bh.per.089">sister</span> who was in the color guard as well?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  She was a flute player but she wanted to be in color guard. And she, the first time she auditioned she didn't make it, but the second time she did. And so she was in for three years. And I think color guard started when, '74?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  '75
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  '75? So that was her freshman year, so she was in I think, '77, '78, '79. And really enjoyed it a lot. 'Course when she was in, for two of the three years, the first two years, they used 8 foot poles and great big huge flags, so there was no spinning, but they could do movement with it, but yeah, that's a big pole. Yeah, be careful if you were anywhere near a color guard person well you could get whacked. But it added a lot and she really enjoyed it and had a great time. 'Course they wore the big go-go boots and things, it was the '70s.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  And then you also said you had a <span data-person="bh.per.090">grandfather</span> who played with <span data-person="bh.per.011">Don Lentz</span> in South Dakota, can you speak at all about?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Well my grandfather was one of 14 kids, his mother owned a hotel, and her children were the entertainment for the hotel. So he could play a lot of instruments and things but he played in several of the bands in South Dakota, community bands and this and that and worked with Don Lentz when he was a musician in South Dakota, so they knew each other. I think they were sort of cut in the same mold, kind of a gruff old band director mode. But my grandfather was an unusual person, he was blind, not all of his life, but you know in his mid to late 30s, he lost his sight and so he memorized scores by somebody would play a part for him on a piano, start with the piccolo and go all the way down, and he wouldn't stop until he had everything memorized. So yeah, that's a, you have to have a fabulous memory to do all of that. He taught for years and years and years when he couldn't see. It's amazing.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Were your parents musical?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  My mother was, my dad was not. My mother's side of the family is very musical, my dad's side was athletic. I took after my dad's side. I'm a failed trumpet player.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Yeah, how did you find out about the job opening with the band program?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  The job opening here? Well my brother, you know, he would work with Jack and everything. He called me. I had graduated and hadn't really been looking for a job and didn't know what exactly I wanted to do and so, he found out that there's, the person who had this position had left and so he called me and said "there's an opening in the band office and you would love it," and he said "call Jack and get an appointment." And back then it was much easier to get a job here, you didn't have to go through the job search and stuff, so I gave him a call and Jack says "come down here and do an interview" because I knew Jack already through Bryan and so, I came down and did an interview and he said "you're hired. When can you start?" So, that's, I did have to go over and do a typing test which I failed the first time. The person doing the testing was kind of standing over my shoulder and so it made me nervous and I had to go back and try again. But the crazy thing was, I first met Jack when I was a 7th grader and he was doing a conference band up in north Nebraska. Scared the living daylights out of me. And I was terrified, he'd ask me to play for him. I was sitting way in the back in the third trumpets and he never got to us, so I was okay. But I thought, I was only 4 foot 9 then, so I thought well I'll just put the stand up here [pantomimes extending a music stand] and he won't see me.  Hiding in the back, not knowing that in ten years I'd be working for him, which is amazing! But yeah, it was fast. And I thought okay, well this will be a good job temporarily for a couple of years and things and 41 years later I'm still here.
<% end %>

<h3 id="big10">Big 10 and Hotel Memories</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Well I'm starting to run out of questions so if you have any other things you want to share or if you [Falcone] have any other questions, I don't know if I've missed anything that you'd like to talk about
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  You know it's been an extraordinary experience to work with all the people and it's been wonderful to work with all of the faculty, and everybody is so talented, it's amazing. Working away in the office for a while and I'll go out and listen to a performance and I'll just go "wow, that is so good," and it's a privilege to work with it. And it's been interesting, too, doing, I've been in three conferences, when I've been at the same school. Big 12 and Big 10. And each one has been different and I've really been enjoying the Big 10 schools. They're very collegial and helpful, welcoming, and we haven't been to all of them yet, but the ones we have visited it's been wonderful.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Do you work much with the other band programs before you go?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yup, we're in direct contact all the time with them, about, you know, especially if we're going to go visit or if they come here. Last year, Minnesota came and visited and that was wonderful. And it was the first time they'd traveled for a while so I was glad they could come here. And our students really love interacting with the other bands and so that's a good experience and the last time we went to Illinois it was wonderful and we're really looking forward to that again. So each trip has been really nice and interesting. It's fun to see new cities and we're gonna stay in Springfield on this trip, so that's a new city for us. I've been there when I was 11 but I'm sure it's changed.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  Hopefully we won't have to stay in log cabins.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  No, but we are staying in the Abraham Lincoln Double Tree, and it is downtown close to his home, originally, and they've kept that like it was in 1860 which will be interesting. Course I don't know how much we'll get to see.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  I was there just a couple years ago and saw all that stuff. There's a museum there that's wonderful.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  When I was there last the museum hadn't been built but his home was there. I don't think 300 people can go through that house. 
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  Well, they charge. We didn't go in because we didn't want to pay.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  I remember going through it when I was a little kid and we went through it and I thought that house looked tiny when I was 11 so I can imagine what it's like now. So each of those experiences are fun and interesting. It's amazing how much band members remember from when they were there and the special things that they pick out and keep as a special memory, and the connections that they make and keep.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Well, as a past band member, thank you for organizing all of that for me. And thank you both for agreeing to chat today.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Well I've learned a lot. I remember the first trip I planned. We were going to, this is the first time I planned it on my own, Jack said "it's your baby, you do it" and so we were going to Oklahoma State, I think, yes, it was Oklahoma State. And so we were going to stay overnight in Wichita, because we were going to do a performance at a high school there and then the next morning get on the buses and go to Stillwater. I thought it would be really cool to stay at this Holiday Inn that was a high rise that had a restaurant at the top that revolved. I forgot, or I didn't know enough to ask a very important question, which is "how many elevators do you have?" And they put us on the 14th and 15th and 16th floor. Well, they had two itty bitty little elevators and of course, you know, as many people, even though the band was smaller then. We still broke down the elevators. So everybody not only had to walk up, but they had to walk up for the meal and then back down and up and -- nobody was talking to me the next morning when we left. So I learned, you gotta ask questions about the hotel. You know? The guidebook doesn't always tell you everything.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  I can't imagine, given the number of years that we're talking and the success of our football program that anyone has planned more football band travel than you.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Oh yeah
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  I'd like to meet that person if that person's out there.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yeah, it, there are a lot of stories, lot of trips, most of them have been really fun, some of them have been a little scary. There was one hotel we stayed at in Miami Beach for an Orange Bowl that was an elderly hotel, of course we move together at the same time, so everybody is showering and everything at the same time. So the hot water supply went out really fast, and there was one, if everybody plugged in their hair dryers at the same time, we would blow the fuses out on one whole wing of the hotel. So we started scheduling bathtime.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  Well that's like the Davy Crockett at the Alamo Bowl.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Oh yeah! Windows! Oh yeah.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  They had like, rock candy or sugar candy windows, you looked at it funny and the window--
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  The window would break
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  I think we hadn't been there for more than an hour and we'd broken three windows in three different rooms.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Yeah, one of the kids said "I just laid a pillow on the window sill, and the window fell out!"  It's like, "okay, we'll just keep track and call maintenance." Yeah, that was an interesting place. Had a beautiful location, right on the river walk.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  Right next to the Alamo.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Right next to the Alamo, yeah, but it was a little elderly.  Yeah.  It's been fun.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Well, thank you very much
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Falcone" } do %>
  Thank you
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Johnson" } do %>
  Thank you for including us.  It's a pleasure.
<% end %>
