<h1>
  <span data-field="title">Conversation with Robert F. Krejci</span>,
  <span data-field="date_display" data-date="2019-11-15">November 15, 2019</span>
</h1>

<p>Conversation held while looking at Krejci's scrapbook with <span data-person="band.per.0092">Jan Krejci</span> (daughter), <span data-person="band.per.0093">Mike Wirth</span> (grandson), and <span data-person="band.per.0094">Emmett Wirth</span> (great-grandson). <span data-person="band.per.0083">Jessica Dussault</span> recorded the discussion.</p>

<div class="introduction card card-body bg-light">
  <p>Robert "Bob" Krejci was a member of the band in 1940-1941 and marched in the Tournament of the Roses Parade in Pasadena, CA. Krejci later became a faculty member in the University of Nebraska College of Dentistry and a practicing dentist in Lincoln, NE.</p>

  <p>This transcript has been created from portions of the original conversation, to highlight particular items of interest and remove personal family dialogue.</p>

  <h2>Links to Topics</h2>

  <div class="row interview-contents">
    <div class="col-md-4">
      <ul>
        <li><a href="#itinerary">Rose Bowl Itinerary, Lentz, and Westbrook</a></li>
        <li><a href="#dentistry">Dentistry</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="#mexico">From Schuyler to Mexico</a></li>
        <li><a href="#lincoln">Lincoln and the School of Music</a></li>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="#trip">Rose Bowl Trip</a></li>
        <li><a href="#drill">Drill Planning</a></li>
        <li><a href="#wwii">WWII</a></li>
      </ul>
    </div>
  </div>
</div>



[ showing photo of himself, Lentz, and another band member planning drill formations on a table ]

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  This is something of interest, I think, to you. If you look here, this is a piece of plywood and they, all the lines are marked, and there’s <span data-person="band.per.0011">Professor Lentz</span> and I was the president and he’s the vice-president of the band those years. You really have to take a large – oh you know about this already?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Yeah, drill planning. Is that what you’re doing?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Yeah, so we create things like that instead of pressing a button on modern technology that they do now. So you know about that?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  I’ve seen some of the old photos of everybody planning that stuff out.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Oh so you know all that stuff already
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  You know, I don’t really know all of that stuff, so anything you want to tell me would be great.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well, this is uh, that just kind of explains what – we'd spend hours on the formations. Can you see? [ holds up photograph of band in letter "I" formation ]
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  An "I," yeah?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  And I have pictures. And your interest in this is because of?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  You know, these days we don’t have a lot of firsthand accounts of, you know.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Those days.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  The 30s and 40s and to be honest, I’d even be interested in learning about the School of Dentistry and what campus was like and how you got back and forth from Lincoln to, is it Schuyler?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  Originally, yeah.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  So yeah, I have a whole list of questions I’d be happy to ask you, or you’re welcome to, you know, reminisce.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well, yeah, I can punch in a few of these things to acquaint you. And then you and I can get together sometime and then I can, I’ll get an overview of what your actual interests are and what you’d like to do with the information and all that stuff.
<% end %>

<h3 id="itinerary" class="interview-topic">Rose Bowl Itinerary, Lentz, and Westbrook</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  [To Emmett Wirth] Tell 'em how much the food was on the train.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   [ reading from Rose Bowl train menu ] 35 cents for lunch and then for dinner it was 60 cents.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   What does the menu sound like? Was it any good?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   The food looks pretty good [ unclear ] Pretty normal stuff on the menu.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   They stopped the train and-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Yeah pull up, pull up your itinerary, show her your itinerary and you can kind of walk through what that trip looked like.  I think she’d like to see that. There you go. Do you want me to read through it like I was before? Let her read through it?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Whatever you want to do.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Sure, she can read it.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Saturday, leave Lincoln on Burlington. Monday arrive in Los Angeles via Kansas City, El Paso and Phoenix. Monday still, Los Angeles staying at New Rosslyn Hotel.  Which, I think I’ve heard some stories about that hotel.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Yeah.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   I don’t know if you’d care to share any of them but, I’ve heard about water balloons and-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well [laughs] yesterday we were talking about that.  I never involved myself with the balloons because you could get caught with those, but we were on the third floor. And lots of people. If there were certain lines that were there that we knew about and weren’t quite as fond of as we should be, we’d lean out of the window with a glass of water and dump it on them and take off. It trickled down 3 stories and it got pretty nice and cool.  Jan was impressed with the prices of the food on the train.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  [ reading from itinerary ] "Practice conscientiously for a few minutes each day during vacation."  Well, and I’d also heard that you all had prepared music that then you didn’t get to play because of the ASCAP strike, right? Don Lentz talks quite a bit about how there was a strike right before the trip, and he had to prepare completely different music, but maybe you guys didn’t worry so much about that?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Not quite, way back then, but later on we were involved in all that. Don Lentz is – did you ever meet the man?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   No.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Side story – do you know the Temple building at the University?  One room, we were, the entire band was packed in for rehearsal. That's the only place we had to go.  Noise!  Now what was my story?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   ‘bout Don Lentz.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Yeah.  Oh!  We'd be playing along and he'd stop and he’d say "E FLAT!" You know?  He could hear that and gaw it would drive me crazy. I was president of the band and there if, somebody would, he was a brilliant man. Nice man. And I just remember that story.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   When you say you were president of the band, is that of Gamma Lambda or was it you were..."President of the Band."
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   President of the Band.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Okay, okay.  I know there was a fraternity back then, the band fraternity, so I was wondering if that was-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Later, later. This was quite a while back.

   <p>[Editor's note: The band fraternity Gamma Lambda existed in 1941, though Krejci does not appear to have been a member based on yearbook pages. It is unknown what the office of President of the Band may have been at that time.]</p>
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   This stuff is a few years later than the Rose Bowl, but we, uh, played it when we presented The Messiah. The four of us were in a group and were serenading the folks as they were coming in.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Oh this one is before, this one’s, this one is 1939.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Okay sure. Okay, that’s right. And then <span data-person="band.per.0061">Arthur Westbrook</span> he was quite some guy, he was.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   That’s the program for it. Hold on a second.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   You’re on the wrong end.
<% end %>

<h3 id="dentistry" class="interview-topic">Dentistry</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   So then, what years were you on the faculty at UNL?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Hold on, I’ll tell you.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   My dates today are, I don’t remember them. I can’t spot ‘em.  I was on the faculty for a number of years.  I have books over there that thick.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Yup yup, I know where it is.  I’ve got it. I brought a copy of your CV with me.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   You and I looked at some of those letters, didn’t we?  She’s asking about-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Mike’s got-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   She asked me which years I was on.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Right, Mike’s got that information so he’s getting that.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   So...initially in ‘51 to ‘55 and then again ‘66 to ‘69 and then tenured in ‘67 up to where he was an emeritis professor in ‘87.  So roughly a 30 year-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   And does that say when he was in his dental practice?  It should.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Yes. From...so you, were you still practicing? Was he still practicing at the end after he was done teaching? And after that?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Yeah, you practiced for a while after you were teaching.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Oh yeah.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  After you retired from teaching? That’s what I’m wondering.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Yeah I did.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   That’s what this says. Yeah it says here he practiced til 91. I didn’t realize he’d practiced that long.
<% end %>

<hr>

<h3 id="mexico" class="interview-topic">From Schuyler to Mexico</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Do you know where Schuyler is?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   I sort of do, yeah.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well, [reading headline] "Schuyler Band Donates Sum to Help Nebraska Band go to the Rosebowl" Nice band!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Were you the only person from your town going? Or were there other people in the band?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I think I’m, I think from Schuyler I think I was the only one.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Dad, there’s a couple copies of the Schuyler newspaper in that scrapbook, too, that she can look at
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   "Best Boys Go West"  Is that a copy of what you were talking about honey?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   No, there’s copies of the Schuyler newspaper. I remember that from looking at that before.
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   So was it a fun trip?  The Rose Bowl trip, I mean?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   It was, you know at that age, it was, I already knew.  I was a farm boy, and then I was making progress at the university, of course. But it was fascinating for me. I had not traveled much by then, and they treated us well. They [??] a train and hired vehicles to haul us in to take a little tour in Mexico.  And we had a guy to tell us about Mexico and that’s when I bought that bottle of tequila. And I think of these stories. I lived in a boarding house when I went to the university. And I had this bottle of tequila. I did not drink much of it. But every once in a while I’d have a swallow of it.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Or two.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well.  That’s when you’d come over, probably.  Anyhow, what do you got there?  Well, I haven’t had a cold yet, and I’d take a couple teaspoons and I really think it’d help me.  It didn’t last a long time, anyhow.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   They didn’t travel then the way they do now.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Right, it was a big trip.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   "Come Celebrate Stanford vs Nebraska Rose Bowl Football Rally Dance, New Year’s Eve Night. Public Invited. Dollar Ten Per Person Including Tax." "Nebraska Float Wins Second in Pasadena Rosebowl Parade"  I don’t know if you’re interested in this stuff.
<% end %>

<hr>

<h3 id="lincoln" class="interview-topic">Lincoln the School of Music</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   So what was Lincoln like when you went to school? I mean, you said you lived in a boarding house. Did you walk to campus or, you know.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I was two blocks out from the campus. The Brown Palace.  Do you remember the name?
   <p>[Editor's note: According to the student directories from 1939 to 1942, Krejci lived at 1410 Q St.]</p>
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Uh unh.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I’ll explain it then. The Brown Palace, they called it.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Was your boarding house?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Yeah. One of them. Another one was <span data-person="band.per.0095">Mrs. Howe</span>. She’d take, rent out, she had a pretty good sized home, and after, so she’d rent out a room and also board university students. So I, that was, those were interesting times. That’s when I had my bottle of tequila on the dresser in that boarding house. And she’d get up, you know, she’d wake you and say "get in here and have your breakfast, you can’t go to school without breakfast."  Wonderful lady. She was nice, she really was. I’d go in the kitchen and help her once in a while.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Dad, what was your major at the university?  Were you a music major?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I think just business if I’m not mistaken, although I was, with Professor Westbrook and all, I was taking lessons all the time I was at school.

   <p>[ Editor's note: a <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1940-05-28/ed-1/seq-1/#words=Krejci" target="_blank" rel="nofollow">Daily Nebraskan article from 1940</a> reports that Krejci was a freshman in the College of Business Adminstration ]</p>
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   What was Westbrook like?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Dr. Westbrook?  Almost like his picture presents. He was very formal. Very to the point. Didn’t mess with you. And if you had it coming, then he would, compliment you or recommend you to someone else. Well, in Temple, he was the choral director, nice smart sharp people. He directed all these large musical groups like The Messiah and all of ‘em.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Would you have overlapped at all with Billie Quick?  He was there until ‘38 or something.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I know the name but that’s it.  I was not...What’s his-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   He was the band director before Don Lentz, I didn’t know if you would have met him when you were in high school or--
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I’m sure I’ve met him. I never had any-

   <p>[ Editor's note: A <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1940-05-28/ed-1/seq-1/#words=Krejci" target="_blank" rel="nofollow">Daily Nebraska article</a> reports that a piece of music co-written by Krejci was performed at a band banquet at which the late Quick was honored. ]</p>
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   I was wondering if you remembered any of those [Band Day]-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Lentz was a nice man, and a brilliant man, and a fine musician. He would go out and score for <span data-person="band.per.0056">Bakaleinikov</span>. You recognize that name?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   I don’t know if I do.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   A famous musician on the west coast.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   I know he [Lentz] played with <span data-person="band.per.0073">Sousa</span>.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Yeah, and he would go out and score for him.  I’m the one looking at these but it’s hard for everybody, there’s not much to see here.
<% end %>

<h3 id="trip" class="interview-topic">Rose Bowl Trip</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Reminds me of...they must have donated more than once.  "Nebraska Band goes to the Rose Bowl"  <span data-person="band.per.0050">"Biff Jones."</span>
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  The football coach, right?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Biff?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  Or athletic director?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  No.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  This is outside of my wheelhouse.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  "Biff’s Boys Go West." He was the coach, wasn’t he?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  I think he was, I think you’re right.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Schuyler People to See Rose Bowl Game, 7 Hour Route.  Can you believe it?  Down from little ole Schuyler Nebraska.  Here, this is a-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Do you remember telling your folks that you were going to California?  Do you remember talking about that?  You were telling them about that trip.  Because that was such a big trip. Do you remember talking to them?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Oh yeah, well see, I was still living with them on the farm.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Sure.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   And I remember when they put me on the train in Schuyler, my poor mother was so sad. I was getting on the train to meet something, to get together with the band. I was a farm boy for years during the Dirty ‘30s and the Dustbowl years and blizzard years. I could tell you some stories about that if you’d like to hear those.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Sure!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   [laughs]  It’s amazing that I saved all this stuff.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Tell em, tell em. Uh you told me this before Jessica got here, but let’s go back to the train trip back out there.  You say goodbye to your mom. She’s weeping because little Bobby is going to get on the train.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Well, uh, she’s-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  Maybe for joy.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   A little of each.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Maybe. But then you got on the train, and we talked about this, that train trip to get all the way from Lincoln to LA took 2 full days.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well that was not the train that-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   I got you, that you said goodbye to your mom on was not the train that you ended up taking. I get that. I’m saying the one to get from Lincoln to go to LA. That trip. When all of you were on that trip. You stopped along the way at Phoenix, er, Kansas City and Phoenix and Albuquerque and hit all those spots.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well a lot of them. They let us off. They were very nice to us.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Did you do anything along the way that was memorable?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   [laughs] I’m sure I did!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Well let’s start with the one you just told me about the guys who got off the train. Let’s talk about that.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well, they did give us this tour in Mexico in those days.  We were fed well on that train.  Everything was neat and well done and respected really.  But as far as, other than staying with the group, the leader would know where to go to show us things.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   What about the guys who wandered too far?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I wasn’t one of ‘em so I don’t remember.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Want to talk about the guys who did? Right? Remember when you got off the train and-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Oh well they got off the train and yeah, and they were goofing around.  The train sometimes would stop for quite a while to let people get off. It was a slow trip those days. And these guys were kinda hiking along the train and messing around and the whistle blew but they didn’t hear it I guess, and the train took off and there they were. They had to catch the next train hours later.  I would say to myself "I can’t imagine how I’d feel or what I’d do if that happened to me!" You know, I wasn’t as adventurous as they must have been because.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   You miss the train, you could have been stuck there for a while.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   It was all a positive trip except that long march along the trolley tracks.  My lip was like hamburger.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   So, have you heard this before?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Uh unh!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  So the march, talk about, you said there were people all over.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   There were farm folks like you heard, people that went to the Rose Bowl, farmers who couldn’t afford it, but they’d donate money so the band could go and they’d go to the Rose bowl. And what was the question?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   When you were marching?  The march and the parade.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   There were people, I don’t know how deep, there were people on either side. A tremendous population gathered for that Rose Bowl.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   And the march route, you were walking along, had a lot of trolley tracks.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Well, that’s their transportation.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Right, so what was it like to walk on the trolley tracks?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   That’s what I was describing.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Yeah but she wasn’t here when you were, that’s what I was saying.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Oh.
<% end %>

[ Krejci takes a phone call and while he does, Mike explains during the call ]

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   So the march was along trolley tracks...and they’d slip and jab their mouth.
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  When the ice cream hits the fan it always hits at the same time. Some days
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  You’re popular today, huh?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  Seriously! You got it?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   So then, so not only from being in the band but talk about what you ended up doing when you went to, when you were in the military?  So share with her about that part.  So your band training got you into more band experiences.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Yup.  That’s another subject.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   So how did that happen?  How did you end up playing in the band?  Who did you tell?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I’m not going to further this conversation anymore today, to the military.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Didn’t you tell the people who were doing the draft stuff that you were in the band and that somebody prompted you to tell them that?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Right now my mind is gone.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  Not remembering that part?
<% end %>
<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  I don’t have a memory in the first place.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   What I remember you telling me is that, I think, I think it was Lentz who told you to tell them that you’d played in the band at Nebraska is what, is what I recall.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I’ll have to rake up all that stuff and bring it forward.
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Do you remember what it was like when you auditioned for the band?  Like, how did you get into the university marching band?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  I took cornet lessons when I started university I also took some cornet lessons and I believe it was with Don Lentz. And he introduced me to Dr. Westbrook, you asked me about him. He was a very stately, but he, Westbrook, kind of took a liking to me, and I knew that by the grapevine because others would comment. And he definitely recommended to Lentz and others that I be considered for the band, so they had the military band, and then the Nebraska band, and you usually spent a little time in the military band. And I still remember, he’d be marching alongside and say"LEFT RIGHT LEFT RIGHT"you know, teaching us how to march and all that.  Oh yeah, lot of water has run under the bridge. It’s beginning to get a little full.  Yeah, you asked about Westbrook.  He was a very proper, nice man. You knew him?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Now, I’ve seen his picture a lot, though, because I went to school in his building, in the Westbrook Music Building.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   You never saw him that he wasn’t neat and stately and dressed nicely.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   I’ve heard he had a hat that he kinda squashed down on his head all the time, but that’s about all I know.

   <p>[ Editor's note: a description Lentz used in his <%= link_to "1974 interview", "/stories/lentz-interview.html#som" %> ]</p>
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I still remember when we’d be out marching in rehearsal. And Don Lentz once in a while would be walking alongside and say "LEFT RIGHT LEFT RIGHT" and I thought to myself, well hell, I’m walking that’s the way I walk! But he was kind of stirring everybody up a little bit.  [to Emmett, sarcastically]  You’re too noisy.
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I do remember vividly that six plus mile march in the band, because the band was played up so much, and you can’t imagine the mobs of people along the sides of the 
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   At the Rose Bowl?  Uh oh.
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  What have you got?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   I found you in this one.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Oh did ya?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   You, you look terrible.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Yup, right there.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I haven’t looked for myself, I’ll have to look when you get through.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Want me to show you? This is from 1942, says on the back.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>Yeah, I can kind of recognize him.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Was this your little dog?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Fritz. That little dog still lived on the farm.
<% end %>

<hr>

<h3 id="drill" class="interview-topic">Drill Planning</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   That stadium was jammed full today, wasn’t it?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Look Emmett, look at this one, look how grandpa is dressed up.  Like, think about the band members today, he’s wearing a suit!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Was that before, just traveling?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   That’s when you’re doing the pegboard mapping out the marching.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
  So would you use that table?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   I don’t know if you, did you dress up a little better, did you dress up better for the photo or is that how you would always dress?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   No, I was pretty neat at the university.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   It’s very different today.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   Would you use those lines on the table to represent the yard markers?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   No well that was painted on the table. It was, the size was, in relation to the, you know
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
  The football field?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Yeah, and uh, pretty large sheet of plywood and those lines were painted on for the markers.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
  The yard lines?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   The yard lines, yeah.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
  So then you would just mark out where they would go, where the people would be marching?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Yeah, to the side, the measurement and everything else. Oh we’d spend half a day at a time on there doing that.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
  That’s amazing.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   The three of us.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Dad?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   Now with all the technology you can just do that in a second.
<% end %>

<h3 id="wwii" class="interview-topic">WWII</h3>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
  Dad? Who was the gentleman when you were in the Army that was a dentist?  And that’s what got you interested in going to dental school when you got back.  You told me it was a Major somebody, I thought?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   <span data-person="band.per.0096">Sichacha</span>?  [TODO spelling]
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   I don’t remember at all.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Sounds right.  I dunno. I do remember the name of the <span data-person="band.per.0097">Colonel Scotch</span> that you helped managed for him in supply.  <span data-person="band.per.0098">Colonel Gingerely</span>. [TODO spelling]
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   [explaining to Dussault] He was a supply sergeant.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   [laughs] Gingerely, yeah!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Who was the General that you, that was there with, that you set up everything with the supply sergeant in the Philippines? I don’t remember who that was.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   You didn’t realize that this was going to be a quiz show, did you?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   The General, what was his?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   I don’t know what his rank was, I thought he was, oh!  The General who was in charge of things in the Philippines when you were there.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   I have his name in there someplace but I can’t whip it out.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Well that’s okay. That’s alright. But that’s how you and Mom met, was over in the Philippines.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   She has quite a memory.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   I’ve heard this story a time or two. [To Mike Wirth] Did you know that?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   What’s that?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
  That that’s how they met?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   In the Philippines.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
  Grandma and grandpa?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  Absolutely.  Yeah. There’s a great picture of <span data-person="band.per.0099">Grandma Betty</span>.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   Tell her how you guys met. Mom and dad.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Not in the Philippines.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   Taplass [TODO spelling?]
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   That’s right.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Where did you what?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   Taplass.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Taplass.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   That was exciting.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
  There’s a great picture of Grandma Betty in the Philippines. And it’s a great picture, because when you look at it, you say, how could somebody this beautiful ever marry somebody like this guy over here?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   So handsome.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   She was a telephone operator in the Philippines. Did you know that?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
   She was a telephone operator in WWII.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   You know, but then, he was a bit of a swashbuckler, you know.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
  He did play trumpet!
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   Yeah and he could play a mean trumpet.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Emmett" } do %>
  I remember when you used to-
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   Did you play the trumpet or the cornet?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Wirth, Mike" } do %>
   And look at that shirt, it’s unbuttoned a little bit.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  In the band, the cornet.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci, Jan" } do %>
   That’s what I thought.
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Thanks for talking to me, and answering the quiz show.
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
  Well I think that’s nice of you to come over.
<% end %>

<hr>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   This seems very formal now, it’s really not too formal.  Could I get your name and where you were born and some of that stuff?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Robert F. Middle name is "Frank".
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Dussault" } do %>
   Is what?
<% end %>

<%= render layout: "stories/accounts/interview_row",
  locals: { label: "Krejci" } do %>
   Is Frank, my father’s name. K-R-E-C-J-I.
<% end %>
