<h1>
  <span data-field="title">Don Lentz Interview</span>,
  <span data-field="date_display" data-date="1974-10-04">October 4, 1974</span>
</h1>

<p><span data-field="source">George Round Oral Histories, Agricultural Communications Records</span>, <span data-field="repository">University Archives & Special Collections</span></p>

<div class="introduction card card-body bg-light">
  The paper transcript of this interview was digitized for this website. Alterations were made during the digitization to correct typos and proper names which may have been misidentified, but without access to the audio of the interview's recording to confirm the original transcription.

  <h2>Links to Topics</h2>

  <div class="row interview-contents">
    <div class="col-md-4">
      <ul>
        <li>
          <a href="#quick">Billy Quick Description</a>
        </li>
        <li>
          <a href="#rotc">The NU Band as an ROTC Organization</a>
        </li>
        <li>
          <a href="#som">Evolution of the School of Music</a>
        </li>
        <li>
          <a href="#bandDayStart">The History of Band Day</a>
        </li>
        <li>
          <a href="#roseBowl">Rose Bowl Memories</a>
        </li>
        <li>
          <a href="#bowlGames">Bowl Games</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>
          <a href="#postWar">The Post WWII Bandsmen</a>
        </li>
        <li>
          <a href="#sousa">Lentz's Time with Sousa's Band</a>
        </li>
        <li>
          <a href="#women">Women in the Band During WWII</a>
        </li>
        <li>
          <a href="#twirlers">Twirlers and the Band's Musicality</a>
        </li>
        <li>
          <a href="#flute">Flute</a>
        </li>
        <li>
          <a href="#concertBand">Concert Band and Potsy Clark</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>
          <a href="#students">Keeping in Touch with Previous Students</a>
        </li>
        <li>
          <a href="#musicology">Musicology</a>
        </li>
        <li>
          <a href="#bands">NE High School Bands and College Bands</a>
        </li>
        <li>
          <a href="#rehearsal">Rehearsal Space</a>
        </li>
        <li>
          <a href="#horses">Raising Racehorses</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1 interview-label">Subject</div>
  <div class="col-md-11">
    <span data-person="band.per.0011">Don Lentz</span>, Director of Bands at the University of Nebraska, 1937-1973. Prof. Lentz visits informally with <span data-person="band.per.0049">George S. Round</span>, Professor of Agricultural Communications at the University of Nebraska-Lincoln.
  </div>
</div>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don it's nice to be out here in the country in your home for a visit, but first when did you retire from the University of Nebraska?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  In June of 1973 and I taught part time last year up to July 15, 1974.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  When did you join the staff?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  In 1937.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Where were you before you came to the University, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Immediately before I taught at Vermillion, South Dakota, prior to that I was in New York playing in orchestras.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Any particular orchestra?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I played with a lot of them including the New York Symphony, the Barrère Little Symphony and Radio.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you play with <span data-person="band.per.0052">Glenn Miller</span>?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No, I didn't. <span data-person="band.per.0053">Emanuel Wishnow</span> did, but I didn't. I was with the Sousa Band.
<% end %>
<%# TODO add annotation for Wishnow from either History Nebraska record or https://libraries.unl.edu/music-library-special-collections#wishnow %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Where was your home originally?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  At Brookings, South Dakota.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How about your educational background?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I graduated from South Dakota State college, it's a university now. Then I went to New York and studied at Juilliard and studied with <span data-person="band.per.0054">George Barrère</span>, <span data-person="band.per.0055">Virgil Thomson</span>, <span data-person="band.per.0056">Vladimir Bakaleinikov</span> and other people there.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What attracted you to come to the University, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I had an orchestra up at South Dakota that won first place in the national contest and <span data-person="band.per.0045">Kirkpatrick</span> and <span data-person="band.per.0057">Ernie Harrison</span> and <span data-person="band.per.0058">Don Berry</span>, who were on the staff here judged me. Apparently there was a vacancy or opening, so they contacted me and asked me if I would be interested in coming to the University.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What did you come as?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I came as Director of Orchestras, Director of Instrumental Music. <span data-person="band.per.0010">Billy Quick</span> had the band.
<% end %>

<h3 id="quick" class="interview-topic">Billy Quick</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Tell me about Billy Quick. I've heard a lot about him. What kind of an individual was he?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was a fine person. Very kind and very generous person, and a good musician. I think his biggest fault he had was the fact that he was a little too kind. I know when I first came here his band got by with too much. There were no second or third parts among cornets or clarinets, nobody wanted to play second parts so he wouldn't hurt anyone's feelings. He was just the finest person you had ever met.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Not very much of a disciplinarian?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Not as much.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did he have the marching band and the concert bands?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was in charge of the whole thing, but the band was ROTC at that time and he had a drill sergeant, <span data-person="band.per.0059">Sergeant Ferris</span> who was a real good drill master. Consequently the band basically did army marching routines like columns, countermarches, and things like that. That was the idea of the whole show. It was the same for every game.
<% end %>

<h3 id="rotc" class="interview-topic">The NU Band as an ROTC Organization</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  When you say a ROTC band, was it supported with uniforms?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  It was controlled by the ROTC. I mean completely, all the way through. They had all the uniforms and they received a certain amount of commutation and I remember it was $28.60 a man at that time.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  When did that arrangement terminate anyway?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We had trouble the first full year that I had the band. I tried to do some shows and the Army didn't want anything but straight marching.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  For football games?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, for football games. That wasn't the first year that I came because I didn't take the band until the next fall. Quick was still in charge the first year, up until in November when he had a stroke. I had to take the last two games. So, I decided to change the whole format from all military marching and go into a more diversified type of half-time show.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  When did the arrangements with the ROTC cease, do you remember?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, the University is still getting commutation from the band, but there was an agreement between <span data-person="band.per.0036">Chancellor Burnett</span> and <span data-person="band.per.0028">Colonel Oury</span>, who was commandant at that time. He had been on <span data-person="band.per.0025">General Pershing</span>'s staff. General Pershing was from Nebraska [Editor's note: Pershing was from Missouri, but from 1891 to 1895 he taught at the University of Nebraska]. Oury had stayed on for many years over the regular terms because of his association with the General. He was a very sympathetic man about the whole band deal but there was just a misunderstanding about whether the sergeant was going to run the band or I was. So, I went to the Chancellor and the Chancellor discussed it with Colonel Oury and decided that the band was a University's organization and the University would have jurisdiction over it, but that the military would contribute to the financial support in return for having the band play for weekly retreats in the spring.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What year would that have been?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  About 1939.
<% end %>

<h3 id="som" class="interview-topic">Evolution of the School of Music</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Let's get back to Billy Quick again. He's kind of a legendary character in University history. What size of man was he?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was small and a very refined and sensitive man. He was part Indian. He was a viola player and had played in the theatres a lot. When he died, <span data-person="band.per.0060">Mrs. Quick</span> gave me a great deal of his music, which is down at the University right now. It was orchestra music. When I first came here I was in charge of orchestra for about 4 or 5 years.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  He wasn't the first Director of Bands, was he?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No, there has been a band here ever since way back in 1979. He was the 6th Director [Editor's Note: depending on who one considers to be a director of the marching band, Quick may have been the 10th director].
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  The School of Music was a Conservatory at one time, wasn't it, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  It had been up to the year in which I was hired. I think that I might have been the first person hired outside of the old Conservatory staff. About 45 teachers at the University School of Music (Conservatory) at that time on a commission basis. Kirkpatrick was the first person that was hired as Director of the School of Music when it was organized as a regular department in the University.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Private lessons, I take it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, they gave private lessons in the music building which formally belonged to the Kimball Music School. The University had no jurisdiction over any of their scheduling or anything like that. Then the year that I came I think that they took in a large number of those people who were on the University staff teaching on a commission basis, and put them on the regular staff. Then they had to hire a new band and orchestra man, so I was hired to come in and take over that.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Who was Director of the School Conservatory?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Howard Kirkpatrick. He was here just one year and then he had a stroke and <span data-person="band.per.0061">Mr. Arthur Westbrook</span> succeeded him.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Tell me a little bit about Arthur Westbrook, Don. He was a kindly man wasn't he?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He came here from Illinois Wesleyan. He was very much oriented toward the teaching phases of music education, which was just diametric to the concept that Kirkpatrick endorsed. These two policies were at odds and thing that was kind of important, was the fact that most of the staff that he had at that time were the Conservatory type teachers. In fact, all of them were. None of them were music education people. The other thing that is important is that about half of those people did not have University degrees. They had music conservatory diplomas or certificates, but there were few degrees. A lot of problems arose right at the beginning in getting some of those problems straightened out.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did that mean getting a new staff, primarily?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, Mr. Westbrook changed a lot of the staff. All of those people without degrees were let out, which was about half of them.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What kind of a man was he personally?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was very much to himself and he was a prolific letter writer. He wrote letters to everybody and he kept in good contact with all of the alumni through his letter writing.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What kind of an administrator was he?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was a very thorough man. He had very definite ideas about everything that had to be done. He certainly followed those out, too.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  I can't describe it, I guess, Don, his appearance. I remember Arthur Westbrook, he always wore a hat on a screw. He looked like a dapper college professor.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, that hat was kind of a characteristic of him. He always put it on and then put his hand on top to smash it down.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you direct the band then for 30 years?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Billy had a stroke in about October or November. I didn't start that University at the beginning of the school year, I started about the first of October and Billy had the stroke in November and then I took over at that time. I had about 2 football games to do but I let the band do its regular military marching as planned by the ROTC Sergeant and then I took over the concert bands.
<% end %>

<h3 id="bandDayStart" class="interview-topic">The History of Band Day</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You must have a lot of pleasant recollections, maybe some of them start unpleasant recollections from your long tenure as Director of Bands. When did Band Day start anyway?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  <span data-person="band.per.0042">John Selleck</span> had started a Band Day in about 1933 prior to my coming here. When I first came here I went through old newspapers and started to check on all these details and get as much as I could from John. The purpose of it was very different from our Band Day, there were very few high schools' bands in it. The stadium during those depression years apparently looked very empty without any people in it. In order to fill up some of the seats and to justify the expense of that stadium, they invited all of these bands to come into the place and just sit and watch the games. They didn't go out on the field or anything. The Burlington Railroad Band, lodge, municipal, industrial, and all kinds of bands came. There were a few high school bands. But mostly all other kinds of bands. Some of them from Iowa and Kansas. I checked the list when I first came here. At that time, when I came in 1937, the Depression was just about over, so they were starting to sell more seats, so there wasn't a need for the Band Day. They had decided to cancel it. I was new out here and didn't know any people around here, so I suggested that in order to make contact with the high schools, that we start a High School Band Day and it would take place of this other Band Day and Chancellor Burnett was very much in favor of the idea. The Athletic Department, I don't think, was completely in accord with me on the idea because it meant free seats at that time. It later proved to be a lifesaver for them and Chancellor Burnett went along. We set up a format whereas only Nebraska high school bands could come. It was a chance to visit the campus.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What year would that have been, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  That was 1938.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What kind of response did you have?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We had 10 bands that first year and they had to pay their own expenses, but we gave them seats and we put on a little show at the half time. Of course, the first year was a bad start on account of the weather. We had a blizzard and I have pictures of the show at that time. It was not very conducive to making a big impression on the guys. The game was the last game of the year, because the ticket sales for that game was poor. They didn't want to give the seats in 1938 for the other games that had better ticket sales.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Do you remember who they played?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  It was Oklahoma, I think.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Do you remember how that game came out?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Golly no, but I think we beat them. We did 3 or 4 times in a row about that time.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, then you had Band Days from 1938 until you retired, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No, we didn't have any Band Day last year. Our last Band Day was in 1971.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You had a little tiff with <span data-person="band.per.0051">Bob Devaney</span> on that, didn't you?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Not a tiff, but a misunderstanding. Just to make the record clear on this thing, when we first started the Athletic Department was not 100% for it, because they were able to sell the seats, that was during the time of the Rose Bowl team. Immediately when we got back from the Rose Bowl, the large percent of the band, 26 of them in fact, went into the National Guard Band on the same day when they got back into Nebraska. The end result was, instead in a year or two very few came to the football games. I've got pictures and we showed them to the band this last Christmas in which there were probably about 200-300 people in the stands. So, at that time, the Band Day was the big deal for Nebraska. It saved the Athletic Department because on that day, even with gas rationing, people came and the stands would fill up for that one game. I remember when <span data-person="band.per.0062">Potsy Clark</span> was Director of Athletics he come over one time and said, "Can we have Band Day every game?" and I said, "No," because I knew there would have to be retrenchment later. Potsy was very sympathetic towards the band. He did everything to make it go. He'd helped me so much that I felt obligated to a large extent. I felt that if we had to cut back to one Band Day when conditions got better, that it would reflect upon the public relations between University and the band men in the state. He went to <span data-person="band.per.0038">Chancellor Gustavson</span> and Gus called me over with Potsy and I said, "I don't think it would be wise to start another Band Day." Potsy just wanted it to save the Athletic Department. Chancellor Gustavson left it up to me and he said, "I think your point is well taken that if you ever have to retrench, it will have a bad popular effect  on the state." But at least we had one, George, but for many years, probably from 1941 up until right to the end of the war, the only thing that saved the Athletic Department was that Band Day, because ticket sales were very low for the other games.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Of course, on Band Days, Don, I recollect you had up to 3,000 members in band?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  3,600 all the time.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  3,600 and you had a fine concert and you had a fine show at the stadium at half-time. Then Bob Devaney got the idea that he didn't want them on the field, didn't he?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, the idea was that 3,600 seats in the stadium when you're selling them out cuts into the crowd quite a lot. He didn't want them on the field because he felt the band would pack the field and make it too hard for the football players. I didn't agree with him, because when you have frost and stuff like that, the field is much harder than a band walking on it.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, the last Band Day was when?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  In 1971.
<% end %>

<h3 id="roseBowl" class="interview-topic">Rose Bowl Memories</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  To bring back memories back on that Rose Bowl. Nebraska played Stanford in the Rose Bowl at California. What is your recollection of that trip? How did you go out there?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We went by train and we didn't know until a few days before we went that we were going to go. It was kind of a new thing for bands to make trips like that. There had never been anything like that in Nebraska. We had a fine football team, <span data-person="band.per.0050">Biff Jones</span> was here at that time. The Athletic Department was just very lukewarm about the whole thing. <span data-person="band.per.0063">Dean T.J. Thompson</span> went to bat on that thing and was able to press it through. It was under the guise that it had to be an educational trip and in order for it to be educational, someone came up with the idea that we go down into Mexico which was close to our route and it wouldn't cost much more. So, we went into Juárez and it was very educational and a very momentous trip. The train stopped at El Paso for only a few hours and we went across into Mexico by three buses.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  It must have been a long trip wasn't it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Oh yes, it was four days. We had the freshman football team with us which I was to chaperone on that trip.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  The freshman football team was on the train?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Oh, that was a pain in the neck.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you have any problems?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Oh terrible. All the coaches had gone out a couple weeks ahead and I had to keep those guys in line. The biggest problem was getting them back on the train after we stopped. We stopped at many points en route. We stopped at Kansas City, and all the big cities en route.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you play?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We put on a concert. We got out and played a little bit at each place.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, do you remember when you came into Los Angeles at the depot there? What happened there?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  The movie studios had set up starlets to be assigned to the band. I remember <span data-person="band.per.0064">Laraine Day</span>, who was <span data-person="band.per.0055">Leo Durocher</span>'s wife. She was assigned to the band and she was a very good hostess.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Didn't you march over to the city hall?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes we did. <span data-person="band.per.0066">Colonel Frankfurter</span> was with us at that time. I remember he was an older gentleman and he marched all the way through with us. That was a long march. I remember we stayed at the New Rosslyn Hotel and another incident was kind of amusing, I told the men that on New Years Eve everyone had to be in because we had a big show tomorrow and "it's got to go." So everyone checked in at 11 o'clock. I couldn't understand why they were checking in so early. Finally right about twelve when all the sirens were going below, L. E. Gunderson, who was the comptroller of the University and <span data-person="band.per.0067">Bob Devoe</span>, one of the <span data-person="band.per.0040">Regents</span> and <span data-person="band.per.0066">Regent Long</span>, called me up from across the street and woke me up and said, "Get out and get your men." I said, "They're all in." What they had done was they had come in, but there was a railing around the 11th floor of the New Rosslyn Hotel which was about 18 inches wide. The men had brought reams of paper sacks and would fill them with water and drop them on people's heads. The police tried to stop it and they couldn't because the men had got out on this rail and the police were afraid to go there. So, I had to get them all in off the rail. They were in the hotel, they were not violating any of the rules.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you penalize them in any way?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No, because it was the whole band.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How many were in the band, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We took 120. The situation was very different then than it is now, George. Our physical plant we used to rehearse in the Temple Theater and the room was only about 40 feet square and up on the 3rd floor. You couldn't get that many men in there really conveniently. So, later we moved down into the first floor. It was a tough job carrying those basses up and down those 3 flights of stairs. Besides the band could not be increased too much not only because of the physical plant but also because we had few instruments.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What kind of show did you put on, Don, at half time at the Rose Bowl?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We put a show on "Bells." We had all different types of New Years bells moving and things like that. That was the first time, I guess, from what all the papers out there said and all the sprts writers that any type of show of a moving type had been put on anyplace. We had dance steps and for some bells we did a waltz step, and we changed it instead of just picture shows and straight marching all the time.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you design the program?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How long did it take you to design it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Those shows take quite a lot of time. To design a show it takes about 40-50 hours. There is a chart for each man. The thing that happened to us out there, the show was all designed prior to going, but the ASCAP strike went into effect at that time, so there was no music available. All the marches I had planned -- "Purple Carnival" and "Glory to the Gridiron" and such were ASCAP, even "Nebraska U", so we had no music to play, none at all.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What did you do?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, a counter organization that was set up to combat the situation (BMI) and there were a few tunes out probably two-three weeks prior to the first of the year. We got some tunes, "Ciribiribin" and things like that and some of those old popular folk tunes. I had to write all those out. We had to use tunes like, "Bells of St. Mary's" and "Hear Them Bells" and all those things.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, Don, the music you had planned, you couldn't play?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We couldn't use the ASCAP music at all.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Who wrote "There is No Place?"
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  <span data-person="band.per.0069">Harry Pecha</span>, who was a graduate from the University. He sold the rights to the Melrose Brothers.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  That's right.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He had offered it to the University for a life football ticket and it was refused. In spite, he sold it to Melrose Brothers who froze it.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  I guess now in 1974, we have the correspondence we can use it at the University. We can use it in public domain for educational purposes.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We used it at the University, as we had the old set of parts.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You couldn't use it at the Rose Bowl?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No. It was ASCAP. At the parade, I told the men not to play it. They had it all memorized. Everything was memorized and as they went by the Broadcasting stand they played it, on their own and that shows the resourcefullness of that band. I anticipated a suit from ASCAP as they had warned us against using any of their music, but there was no reaction. That was a tough parade. We were at the head of the parade right behind the sheriff's posse and we started right at 9 o'clock and finished at 12 o'clock and didn't stop for one second on the route anyplace. It was a continuous parade down Colorado Boulevard. The men alternated and kept the music going continuously.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you have a good trip back from the Rose Bowl?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, we made that educational, too. We stopped at the Presidio at San Francisco and at Salt Lake City.
<% end %>

<h3 id="bowlGames" class="interview-topic">Bowl Games</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How many bowls did you take a band to?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  That was the first one. The war changed the fortunes of the football team. The next bowl was in 1955, which was the Orange Bowl. That was a hard trip because again we went by train, but it was a very educational trip because the men were able to see conditions through the south that they had no idea existed. All the later trips were taken by airplane, you look over and see a lot of things, but you don't go through the areas that we went through with that train. It was about a four day trip. At my retirement last June, I think there were 15 Rose Bowl men that came for that retirement from all over. They were all commenting about the value of that train ride through all of those places. We stopped at all those places and played you know.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  That was 1955 in the Orange Bowl?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, that's right.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Nebraska didn't do too well as I recall correctly?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What other Bowl trips did you take?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  In 1956 we didn't go. The next one was 1964 which was another Orange Bowl game.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How many times were you at the Orange Bowl?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I've been there every time except for the last one in 1973. We made the Orange Bowl in 1964, '66, '71, '72. The Cotton Bowl in '65, the Sugar Bowl in '67, and the Sun Bowl in '69.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  That takes an awful lot of organization, doesn't it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  It does and in the initial stages no one knew exactly how to proceed. Now there is kind of a format that is set up and it's very easy to follow that basic format. But in the first place, the Orange Bowl supplied no money for the band and so it all had to come out of the Athletic Department or the University as a whole which made a real tough deal. So, we went to the Orange Bowl and when we were down there we asked them if they would earmark so much of the money that went to the Big 8 to bring the bands in because they expected the bands to come. They did request that money be available for the bands. <span data-person="band.per.0706">Bud Wilkinson</span> who was Athletic Director at Oklahoma, <span data-person="band.per.0071">George Cross</span> who was a former classmate and friend of mine was President of the University and <span data-person="band.per.0072">Leonard Haug</span>, who was Director of the Band. We were able to work with the Orange Bowl people and get them to put pressure on the Big 8 to make money available to the bands.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, your band has had a great reputation in the Orange Bowl over the period of years and all these bowl trips. What did you think about the bowl trips for your marching band, were they worthwhile or are they worthwhile today?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, it had a built-in motivation for us that you don't get from anything else. It's just like the deal right now. Many of these bands are having trouble recruiting enough men to fill out their personnel. There is no problem like that in Nebraska. The band looks forward to the bowl games and considers them to be important events.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, it's a pretty good educational experience for the young men, isn't it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes it is. I mean all the side effects, the travel and trying to do something as well as you can do, I think that's the most important thing. The music is geared to the general public so it's not of the highest quality.
<% end %>

<h3 id="postWar" class="interview-topic">The Post WWII Bandsmen</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, like a football coach, he can always single out who is his best player and his best team and the like. What band do you consider as one of the better marching bands or what bands, should I say?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  That's very difficult to do, George. The bands right after the war, say from 1946, '47, '48, when these veterans came back, were more mature, older men. They had been through the tribulations of a war. About half of them had been playing in bands, and they all knew how to march. They had been disciplined to the 'nth degree and they welcomed a chance to be in a university band or a band that was under civilian control and there was no horse play and it was strictly a business deal with the men. They really produced and enjoyed it.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  That must have been through what years when, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  1946, '47, '48. They were really outstanding bands.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Would you say those bands were your best bands?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  They were older men, they were very mature players and most of them had the training of the Army bands.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What is it, Don, that makes a good college marching band?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  The most important thing is that it's got to be a good musical organization. That's the thing that is being sacrificed by so many of the band directors now. The music is secondary. In the first place, from the very beginning it seemed apparently, I was at a disadvantage. My marching band experience had been very limited when I came here. I had been with the Sousa Band, but basically I had been an orchestra player. The compromises one had to make from this artistic concept to that of an athletic event, were very difficult. You had to appeal to the big mass of musically illiterate people. Consequently, the music is picked with compromise in mind. I've never used too many real popular things. I tried to use good solid musical numbers that the crowd would like and I think that's the most important thing.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What do you really try to achieve, good sound?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I think that's the first and most important thing. In the national contest for high school bands, they use seven judges. The sound counts 1/3 of the total rating, so if you give them a second division in sound, you've killed them. Whereas the precision and marching, all the things that uninitiated public sees and reacts to is very low. So, basically the musical side has to be stressed all the time.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, it seems to me that the marching band for collegiate football has been kind of jazzed up so to speak than what they play.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  They have to. It has more appeal to the average public than a concert number. You have to be very careful that you don't feed them something they don't like.
<% end %>

<h3 id="sousa" class="interview-topic">Lentz's Time with Sousa's Band</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You did play in the Sousa Band, didn't you?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Whereabouts was that?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We played on tour all the time.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How many years were you with the band?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I was with them for just one year and one short session at Willow Grove where we did some recording.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Was <span data-person="band.per.0073">Sousa</span> directing?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Oh yes.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What kind of a gentleman was he?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was very proper, quiet and had nothing to do with the men at all. He was a good conductor and violinist. The year I played with the band, he had fallen off a horse. He was an avid horseman. He had fallen off the horse and had some trouble with his right arm. He couldn't use it to conduct too much. He had to use a very restricted motion. He played good things with the band, most of them were orchestral transcriptions and then numbers of his own. They were of a dated type. They were of the 1920 vintage.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You know, from the standpoint of a layman, Sousa's name is legendary.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was elected to the Hall of Fame this last year.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  In other words, he deserved the credit?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, he did.
<% end %>

<h3 id="women" class="women">Women in the Band During WWII</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You started back in 1937. What is your attitude on women in the band? [Editor's Note: women were admitted into the University of Nebraska marching band in 1972, two years before this interview]
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Women formed the main nucleus of the band all during the war years. I hope no one forgets that.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Oh, you had women in before?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We had nothing except women.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Nothing but women?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We had a few men who were classified as 4F in the draft. During those war years we had to rely on the ladies all the way through. [Editor's Note: 4F draft status meant the individual was found not acceptable for military service]
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What kind of a job did they do?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  They were very smart and very quick in picking up designs. I felt that they never had quite the precision or snap that the men do and they didn't have the endurance or didn't have at the time that the men had. They march, of course, instead of marching on a plane that is parallel to the direction of movement, they march at right angles with their hips to the direction of motion.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  I guess a lot of people think that this recent development of having women at the Cornhusker Marching Band is new, it isn't, is it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Oh no. We had women throughout. During the war we even had to play for an ASTP program. The ASTP was established here on the campus.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  The ASTP was what?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  That's the army training deal here on campus. They were based in Love Library. We had to play retreat every afternoon for that group. I think we had 10-12 men. They were 4F's and couldn't walk, the rest were ladies.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Every day?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Every day. We even played "Taps" for them at night.
<% end %>

<h3 id="twirlers" class="interview-topic">Twirlers and the Band's Musicality</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, you had drum majors, of course, all during your time you were directing the marching band. Did you have the twirler out in front?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We've only used one twirler and that was the format that I followed because I felt that as you watch television today the cameras focus mostly on th girl twirlers and the band is absolutely neglected. So, I made it a set rule to have one twirler that would work in with the designs and not detract from the band at all or the musical part of it.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What about the other bands, Alabama's and Ohio State's and so on, they have a bevy of beautiful girls.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  That's what I said before, are you going to cater to the musical part of it or are you going to cater to the entertainment part of it? I don't think that there is enough value in the band program to keep the good musicians if one stresses the entertainment part entirely.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You think still having one twirler is about all you need in order to focus attention on the bands?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  It does set the focus on the band. You are compromising so much anyway to appeal to the crowd.
<% end %>

<h3 id="flute" class="interview-topic">Flute</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, your specialty in playing with Sousa and in teaching, of course, is what instrument?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Flute.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How did you ever get started playing the flute?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I played clarinet first. My <span data-person="band.per.0074">mother</span> was a musician. She was a pianist and I had to play the piano when I was 4-5 years old. Then I started on the clarinet and I heard the Minneapolis Symphony play and I liked the flute.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Is the flute a difficult instrument to play?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  There are certain prerequisites that you have to have as far as the lip formation and things like that. Everyone can play the drums or saxophones or something with very little problem, but the flute--if you have certain peculiarities in your lip formation, it's impossible to play it. It's not difficult other than that.
<% end %>

<h3 id="concertBand" class="interview-topic">Concert Band and Potsy Clark</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  We've talked a lot about the marching band and you had the concert band. Do you recall any particular recollections about your concert band?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, the concert band, George, is basically the groundwork for your marching band. I think that's what Potsy Clark understood. He was cognizant of that fact and he even underwrote some of the concert band trips from Athletic money because he felt it was important that the concert band get out in the state. The mere fact that the people associated the two band programs, the concert band and the marching band together, we had large crowds for those concerts. We toured every year. We started touring in about 1941. The different schools in the state would pay all of our expenses, except for little minor details.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, you mentioned Potsy Clark a couple times, who was here during the war years at Athletic Director and then coach. What do you recall about Potsy anyway?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  He was a small man for a football player. He had been All-American Quarterback, I guess. He had played pro football with the Detroit Lions, I think. I felt that he was a good man.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Easy to get along with?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, but he was not a pushover by any means at all. At least you could argue with him. If Potsy would tell you something, you were pretty sure that it was going to go through.
<% end %>

<h3 id="students" class="interview-topic">Keeping in Touch with Previous Students</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How many bandsmen would you estimate that played under your direction during your tenure here at the University?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  It's hard to estimate, George. I would say about 5,000-6,000 in the University Nebraska band.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Do you still hear from some of them?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Oh all the time. At Christmas time I have several hundred letters come in from former bandsmen. The Band Day kids, I figured that out once, I figured out about 3,600 kids per game for all those years. That comes to about 125,000.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Do you recall any particular bandsmen that you had in the Cornhusker Marching Band?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Many of them. They are all over in industry right now. There isn't a week goes by that I'm not in contact with some of them. <span data-person="band.per.0075">Nolan Summers</span>, who was one of the masters program recipients here last year, was one of the presidents of the band. He's with American Cyanide now. They are all top executives. <span data-person="band.per.0076">Nyquist</span> is with DuPont, <span data-person="band.per.0077">John Welch</span> one of the top surgeons of the Mayo Clinic, was the first president of the band with <span data-person="band.per.0078">Dick Faytinger</span>, who was my second president of the band, is a top executive with General Electric. They are all over the country. Not only in this country, but they are all over the world. I get letters from <span data-person="band.per.0079">George Eagleton</span> from Delhi, Manila, Hong Kong, etc, at different times.
<% end %>

<h3 id="musicology" class="interview-topic">Musicology</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You speak about the Far East, Don. You've been over there how many times?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  About 6 times.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What were you doing?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Doing research on the tonal and rhythm systems of the different non-western cultures.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did you do a lot of taping over there of their music?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, that was the main approach. When we were in Java and Bali, we taped maybe a thousand Gamelans at that time.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What did you do when you brought the material back home?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I took those tapes and analyzed them on a stroboscope to find out what the pitch frequencies were. From these, concepts of the tonal system were formed. They are very different from those of the western world. I have books published on the Hindu and Indonesian systems.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Are you going back again, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, we have hopes to go back to Burma and Sumatra this winter.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, do you do any composing for the band?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, I have a dozen or so publications that I have published by Carl Fischer, Whitmark, Tempo, Belwin, Boosey Hawkes, etc.
<% end %>

<h3 id="bands" class="interview-topic">NE High School Bands and College Bands</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What about the high school kids, these hundred or thousands of them that you had in high school Band Days in the stadium and the like. Have high school bands in Nebraska improved their skills since you came here?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, yes you would have to say a lot. Basically the good bands back in the 1930s and 1940s were just as good as the bands are today. Maybe some of them better. This Lincoln High Orchestra when I first came here was an outstanding orchestra. But, there were different philosophies and different approaches. But the difference today is the fact that you've got 30 or 40 bands at the same calibre today where you had 1-2 before, which makes a lot of difference. Earlier most of these high school musicians were trained by private teachers, which is an advantage over class method of teaching which is used in all the schools today.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Do high school bands have better instruments and better teaching?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  That's a very important thing. During my early years at Nebraska, we were so handicapped by not having many instruments like the bass horns and larger instruments because the kids don't buy them. Now every high school in the state, no matter how small it is, has a whole compliment of instruments and none of these things existed even when I came to the University. We had only two old beaten basses when I came here and they were badly dented and leaked.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Did the students have to bring their own?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We had a bass drum and two snare drums and the Army gave us 28 instruments, but they were not in good shape. Many of them were even in high pitch.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  What about the instruments today? The instruments that you see with the marching band out on the field at the football games, do those instruments belong to the University or to the players?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  The large instruments are owned by the University. They own the drums, French horns, and euphoniums, and instruments like that. It is common in all Universities that they own those instruments, even the small Universities do that. But, the small instruments like the clarinets, flutes, and cornets, and saxophones are personal property.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, I have heard some discussions, some schools offer scholarships to bandsmen. We've never done it in Nebraska to my knowledge. What is your feeling on it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I think it is much better if you don't have to do it. We've been very fortunate. I think this Bowl trip idea has been one reason why we haven't had to offer scholarships. We have a great many more people try out than we can accept. That's not the case in most schools. We are very unique in that case. I'm sure all the other Big 8 schools have scholarships. Some of these scholarship programs go back over 20 years or so. Some of these places have these good healthy scholarships.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  It's not necessary in Nebraska?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No, the men enjoy and have pride in the organization.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  I have always observed your bandsmen had a good time and esprit de corps has been good, isn't that true?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I think that is most important. You've got to get your discipline through the idea of pride, that they're doing something important and that they are doing it well. Because it takes a certain pride or dedication to do something well. As far as discipline is concerned, the men are tougher on each other than I would ever be, because they want to maintain that esprit de corps. The band officers enforce it.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don't you have a lot of former bandsmen out in the state, directing high school bands?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Oh yes, I think practically around 75% of them are former University of Nebraska bandsmen.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  That's probably been a factor in the improvement of bands, too, hasn't it?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes it has. It has standardized the procedures and it's made easier for us because many of the bands use the same procedures that we do. Now, I think we not only have bandsmen out directing these bands, but we have band players out all over the United States.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, you spoke about having, when you first came to Nebraska in about 1937 that the University only had two basses?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Right, they belonged to the Army.
<% end %>

<h3 id="rehearsal" class="interview-topic">Rehearsal Space</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, the physical facilities during a great part of your career were not the greatest were they?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No. I remember the first concert I gave in the Coliseum with the orchestra. We'd have crowds of around 3,500-4,500. People would come in on Sunday to hear our concerts. <span data-person="band.per.0080">C. K. Morris</span>, who was in charge of Public Relations at that time, decided that it would be a good idea to record this. There were no tape recorders at the time. He made an arrangement with the telephone company who fixed it so that they could clear a line right from the Coliseum down to the radio station and the whole concert was recorded by telephone.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, you didn't have very good facilities as you mentioned earlier. The Temple Building was terrible?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, I mean it wasn't adequate for a large size band and the parade band had to rehearse on the mall in front of the Coliseum. I remember some of the professors were disturbed because they had classes at 5 o'clock and had to compete with a band.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You know through the history of the University, it's been a battle, some of the people in Chemistry didn't like it.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  They wanted to move us. We had to change, we had to try and find a place where we wouldn't interfere with anyone. Of course, the real problem didn't surface until the schedules of University classes were changed to the half hour.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, you must have very many pleasant recollections of your long career here at the University. We've covered some of it, but do you have any other recollections that you care to mention?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, one of the most important things, George, is the concert bands. You haven't mentioned too much about them. We have always had a strong concert band here. I think that has been instrumental in drawing the better players from the high schools wh are really interested in the musical part of it and this phase has been very satisfying to me.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Well, it certainly is an important part of it. The part that the public sees mostly is the marching band at football games. But the concert band and the work there is just as important. Don, you retired in July of 1973. What have you been doing since retirement?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, I taught Ethnomusicology at the University and then taught flute out at Wesleyan this past year. This year, I'm not teaching. I retired at the end of the summer session.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Are you giving private lessons now?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, I am but that's just because I don't want to give up the flute. I want to keep that going and I have some good students. Also, I'm working on a couple books and I'm working on the outlines for these now.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Would these be textbooks, Don?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  One of them will be the comparison of Eastern musical concepts of music as opposed to the aesthetic concept of the western world. I think that the music and the arts of the western world are suffering from not fitting into life. I think some of the eastern concepts might rejuvenate or build this up.
<% end %>

<h3 id="horses" class="interview-topic">Raising Racehorses</h3>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You've had a lot of difference interests during your long period of music at the University and one of them you've always had horses around. I notice out here in the country you've got a few around. Do you still have a few racehorses?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, that one out there in that pasture just got back.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Where from, the circuit?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Yes, she's awfully high powered yet. She hasn't relaxed enough. I have another out there that just came back a few weeks ago.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  It used to be when you were a little younger, you used to get up about 4 o'clock or 5 o'clock in the morning and go up to Omaha and time your horses up there at the track? Were you back for an 8 o'clock class?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  They work the horses before the sun comes up at Ak-Sar-Ben so you get up early to see them work.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Where did you get this interest in horses?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I don't know. I've had it for a very long time, I guess. Ever since I can remember.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  How many horses do you have here now?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We have about 6 or 7 horses.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  You have a colt out here, too?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  We have a four month weanling colt.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Who does the breaking of the horses?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I do. <span data-person="band.per.0081">Velma</span> and I have broken all of our horses up until this last year.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Is that a problem or not?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No, if you go slow you can do it a lot better than if you hire somebody to do it for you. I mean, if you hire someone, they often don't have the patience with them and these are high powered horses. They're racehorses.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Where do you get them shod then?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  I shoe them myself.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Always have?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Always have.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  I didn't know you were a horse shoer?
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Well, I'm not going to do it for anybody, but at least you know you get them shod the way you want them.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  Don, I'd just like to tell you how happy I am to be out here and visit with you. Do you have any other recollections, I'd be glad to put them on the record now.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  No, I think that hits the main things, George, about the band and all. One of my deepest satisfactions is that <span data-person="band.per.0012">Jack Snider</span>, a former bandsman, has taken over my position as Director of Bands.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Round" } do %>
  I appreciate your hospitality and it was nice to visit with you, Don.
<% end %>

<%= render layout: "stories/accounts/interview_row", locals: { label: "Lentz" } do %>
  Thank you, George, I appreciated the chance to visit with you.
<% end %>
