<% @title = "Footage" %>

<%= stylesheet_link_tag "multimedia" %>

<h2>Footage</h2>

<p>The digitization of the footage below was made possible through the generous support of Gary Steffens, the Band Alumni Association, and the Center for Digital Research in the Humanities. Longer reels were split up into shorter clips to allow browsing by topic. For this reason not all of the clips contain footage of the band, but may have been part of a reel with footage of the band members in an earlier or later portion.</p>

<p>Browsing this silent film through the decades, the change to drill styles is particularly noticeable. Also present are the alterations to Memorial Stadium and traditions such as the card section.</p>

<p>To search footage by date, text, or more, please use the <%= link_to "advanced search", search_path({ "f" => ["subcategory|Footage"] }) %> features.</p>

<div class="filters">
  <div class="filters-topic">
    <h3>Filter Projects by Topic:</h3>
    <div class="filter-buttons">
      <% all_btn = params["f"].present? ? "btn-warning" : "btn-primary" %>
      <%= link_to :footage, class: "btn btn-filter #{all_btn}" do %>
        All <span class="badge">X</span>
      <% end %>
      <% @facets.facets["keywords"].each do |keyword, num| %>
        <% btn_class = facet_selected?("keywords", keyword) ? "btn-primary" : "btn-info" %>
        <%= link_to footage_path({ "f" => ["keywords|#{keyword}"] }), class: "btn btn-filter #{btn_class}" do %>
          <%= keyword.titleize %> <span class="badge"><%= num %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render_overridable "items", "sort_and_page_ui" %>

<div class="videos-container flex-container">
  <% @res.items.each do |item| %>
    <% html_id = item["identifier"].gsub(".", "") %>
    <% year = item["date"].present? ? item["date"][0,4] : nil %>
    <% decade = year ? "#{year[0,3]}0" : nil %>
    <button type="button" class="video flex-item" data-toggle="modal" data-target="#<%= html_id %>">
      <h3><%= year %></h3>
     
      <%= image_tag iiif(item["image_id"]), class: "thumbnail" %>
      <p><%= item["description"] %></p>
      <%= link_to "More Information", footage_clip_path(id: item["identifier"]), class: "btn btn-sm btn-secondary btn-block btn-moreinformation" %>
    </button>

    <!-- Video modal -->
    <div class="modal fade" id="<%= html_id %>" tabindex="-1" role="dialog"
      aria-labelledby="<%= html_id %>" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="<%= item["identifier"] %>"><%= year %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <video controls preload="none" poster="<%= iiif(item["image_id"], size: "!500,500") %>">
              <% video_link = "#{PRIVATE["media_path"]}/video/bandhistory/footage/#{item["identifier"]}.mp4" %>
              <source src="<%= video_link %>" type="video/mp4">
              <p>Your browser doesn't support HTML5 video. Here is
                 a <%= link_to "link to the video", video_link %> instead.</p>
            </video>
            <h5>Clip Information</h5>
            <ul>
              <li><strong>Source</strong> <%= item["source"] %></li>
              <li><strong>Description:</strong> <%= item["description"] %></li>
            </ul>

            <%= link_to "View more information about the footage clip and original reel", footage_clip_path(id: item["identifier"]), class: "btn btn-sm btn-secondary btn-block btn-moreinformation" %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-filter btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<%= render_overridable "items", "sort_and_page_ui" %>
