<% @title = @res["title"] %>
<%= link_to "Browse #{@res["topics"].first} images",
  image_topic_path(@res["topics"].first) %>

<% year = @res["date"].present? ? @res["date"][0,4] : "undated" %>
<h2><%= @res["title"] %> (<%= year %>)</h2>

<div class="row image-metadata">
  <div class="col-md-12">
    <% if @res["date_display"].present? %>
      <p>
        <%= metadata(@res, t("item.metadata.date", default: "Date"),
          "date_display", link: false) %>
      </p>
    <% end %>
    <% if @res["creator"].present? %>
      <p>
        <%= metadata(@res, t("item.metadata.creators", default: "Author(s)"),
          "creator.name", link: false) %>
      </p>
    <% end %>
    <% if @res["description"].present? %>
      <p>
        <%= metadata(@res, t("item.metadata.description", default: "Description"),
          "description", link: false) %>
      </p>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <%= image_tag iiif(@res["cover_image"], size: "!800,800"),
      alt: @res["title"]
    %>
  </div>
  <div class="col-md-4">
    <div class="image_metadata">
      <ul>
        <% if @res["identifier"].present? %>
          <li>
            <%= metadata(@res, "Image Identifier",
              "identifier", link: false) %>
          </li>
        <% end %>
        <% if @res["rights_uri"].present? %>
          <li>
            <%= metadata(@res, t("item.metadata.rights_uri", default: "Source"),
              "rights_uri", link: false) %>
          </li>
        <% end %>
        <% if @res["rights_holder"].present? %>
          <li>
            <%= metadata(@res, t("item.metadata.rights_holder", default: "Publisher"),
              "rights_holder", link: false) %>
          </li>
        <% end %>
        <% if @res["rights"].present? %>
          <li>
            <%= metadata(@res, t("item.metadata.rights", default: "Rights"),
            "rights", link: false) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
