<h1><%= @res["title"] %> (<%= @res["date_display"] %>)</h1>


<div class="image-description">
  <%= @res["description"] %>
</div>
<div class="row">
  <div class="col-md-8">
    <%= image_tag iiif(@res["image_id"], size: "!800,800"),
      alt: @res["title"] %>
  </div>
  <div class="col-md-4">
    <%= render_overridable("show_metadata") %>
  </div>
</div>


