<% @title = "Drill" %>

<h1>Drill</h1>

<div class="row">
  <div class="col-md-8">
    <p class="lead">
      What is a marching band without drill? Although early in the band's history, precision military drill was dictated by officer instructions, and later by signals from the drum major, over time advanced drill has been planned and recorded on paper.
    </p>
    <p>
      The <%= link_to "1937 Band Manual", drill_item_path(id: "band.doc.0002") %> is an excellent resource for those interested in pre-WWII band discipline, charts, and music.
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag "drill.jpg", alt: "Page from 1937 band manual with instructions to spell HUSKERS" %>
    <p>1937 Band Manual</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <h2 class="text-center">Search</h2>

    <%= form_tag prefix_path(route_path), method: "get",
      class: "input-group" do %>
      <!-- search box -->
      <%= text_field_tag(:q, params[:q], :placeholder => t("search.placeholder", default: "Search for..."), :class => "form-control") %>
      <!-- add existing search parameters to query -->
      <%= render_overridable("items", "hidden_fields") %>
      <!-- submit -->
      <span class="input-group-btn">
        <%= submit_tag t("search.submit", default: "Search"), class: "btn btn-primary", name: nil, data: { disable_with: false } %>
      </span>
    <% end %>
    <%= render_overridable("items", "help") %>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">Browse</h2>
    <div class="filter-buttons">
      <%= link_to "Browse All Drill Documents", drill_search_path, class: "btn btn-primary btn-filter", role: "button" %>
    </div>
  </div>
</div>
