<% @title = "Drill" %>

<h1>Drill</h1>

<div class="row">
  <div class="col-md-9">
    <p class="lead">
      What is a marching band without drill? Although early in the band's history, the band followed the drum major's directions for simple formations and movements, more advanced drill has often been planned and recorded on paper.
    </p>
    <p>
      The 1937 Band Manual <%# TODO link %> is an excellent resource for those interested in pre-WWII band discipline, charts, and music.
    </p>
  </div>
  <div class="col-md-3">
    <%# TODO different image %>
    <%= image_tag "newspaper.jpg", alt: "Daily Nebraskan front page with photo of the band performing with headline Band travels to regular-season away game" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <h2 class="text-center">Search</h2>

    <%= form_tag prefix_path(route_path), method: "get",
      class: "input-group" do %>
      <!-- search box -->
      <%= text_field_tag(:q, params[:q], :placeholder => t("search.placeholder", default: "Search for..."), :class => "form-control") %>
      <!-- add existing search parameters to query -->
      <%= render_overridable("items", "hidden_fields") %>
      <!-- submit -->
      <span class="input-group-btn">
        <%= submit_tag t("search.submit", default: "Search"), class: "btn btn-primary", name: nil, data: { disable_with: false } %>
      </span>
    <% end %>
    <%= render_overridable("items", "help") %>

  </div>
</div>
