<% @ext_css = add_assets(@ext_css, ["simpleLightbox.min"] ) %>
<% @ext_js = add_assets(@ext_js, ["simpleLightbox.min"] ) %>

<h1>On Parade</h1>

<p>Listen to the band's recording from the early 1950s. Processed by RCA Victor, produced and published by Recorded Publications, Co., and made possible by band fraternity Gamma Lambda.</p>

<p>Recordings provided courtesy of the UNL Band Department</p>

<% tracks = [
  { title: "The Purple Carnival", filename: "01-the-purple-carnival.mp3" },
  { title: "March of the Cornhuskers", filename: "02-march-of-the-cornhuskers.mp3" },
  { title: "Hail Nebraska", filename: "03-hail-nebraska.mp3" },
  { title: "Thunder and Blazes", filename: "04-thunder-and-blazes.mp3" },
  { title: "Hail Varsity", filename: "05-hail-varsity.mp3" },
  { title: "The Cornhusker", filename: "06-the-cornhusker.mp3" },
  { title: "Chant", filename: "07-chant.mp3" },
  { title: "Dear Old Nebraska U", filename: "08-dear-old-nebraska-u.mp3" },
] %>

<div class="card">
  <div class="card-body">
    <% tracks.each_with_index do |track, index| %>
      <div class="row tracks_listing">
        <div class="col-md-1">
          <%= index+1 %>
        </div>
        <div class="col-md-4">
          <%= track[:title] %>
        </div>
        <div class="col-md-7 audio_tracks">
          <audio controls preload="none">
            <% path = "#{PRIVATE["media_path"]}/audio/bandhistory/multimedia/on_parade/#{track[:filename]}" %>

            <source type="audio/mpeg" src="<%= path %>">
            <p>Your browser doesn't support HTML5 audio. Here is a <a href="<%= path %>">link to the audio</a></p>
          </audio>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% images = [
  { id: "130815-00031.jpg", label: "On Parade Album, Front Cover" },
  { id: "130815-00033.jpg", label: "On Parade Album, Inside Cover" },
  { id: "130815-00034.jpg", label: "On Parade Album, Side 1A" },
  { id: "130815-00035.jpg", label: "On Parade Album, Side 1B" },
  { id: "130815-00036.jpg", label: "On Parade Album, Side 2A" },
  { id: "130815-00037.jpg", label: "On Parade Album, Side 2B" },
  { id: "130815-00032.jpg", label: "On Parade Album, Back Cover" },
] %>

<div class="album_gallery">
  <% images.each do |image| %>
    <% img_path = "photographs/#{image[:id]}" %>
    <a class="gallery"
      href="<%= iiif(img_path, size: "!800,800") %>"
      title="<%= image[:label] %>">
      <%= image_tag iiif(img_path), class: "preview", alt: image[:label], "data-image": img_path  %>
    </a>
  <% end %>
</div>

<div class="album_transcription">
  <h2>Transcription</h2>
  <div class="album_page">
    <p>ON PARADE</p>
    <p>UNIVERSITY OF NEBRASKA BAND</p>
    <p>Processed and Pressed by RCA Victor</p>
    <p>Produced and Published by Recorded Publications Co.</p>
  </div>
  <div class="album_page">
    <p>ON PARADE</p>
    <p>The UNIVERSITY OF NEBRASKA R. O. T. C. BAND</p>
    <p>DONALD A. LENTZ, Conductor</p>
    <p>The thrill which comes from seeing and hearing a big marching band is unlike any other in the world, as thousands of fans who jam the University of Nebraska's Memorial Stadium on autumn Saturdays will readily admit. The sight of the 120 University Band members — their scarlet and cream uniforms bright against the green sod, their instruments flashing in the aftenroon sun — is one not soon forgotten.</p>
    <p>The band's playing of traditional school songs has established it most firmly in the hearts of Nebraskans. When the band swings into "The Cornhusker," just before the team comes out on the field, the Spirit of the Scarlet and Cream comes to life. To help its many followers recapture this and other precious moments, the band has made these records. Band members hope, too, that this album will help to acquaint other persons with Cornhusker songs performed with typical Cornhusker enthusiasm.</p>
    <p>Included are "The Cornhusker", "Hail Varsity", "Dear Old Nebraska U", "March of the Cornhuskers", the "Chant", and "Hail Nebraska", the newest official song. The "Purple Carnival" by Alford and "Thunder and Blazes" by Fucik are well known to all Nebraska football fans, as the band always makes its entrance to one of these marches. This music comes from young people who play because they enjoy playing, and who have found that it makes more than uniforms to make a band.</p>
    <p>There has been a University of Nebraska band for almost as many years as there has been a University of Nebraska. In 1879, when there were fewer than 300 students in the struggling young institution, the first R.O.T.C. Band was organized to furnish music for military drills. There were 12 members.</p>
    <p>Since that pioneer era the band has, in a sense, reflected the growth and maturing of the University. Today 140 young men and women are members of one or more of the organization's three units — The Marching Band, which performs at football games; the Symphonic band, which plays chiefly concert music; and the 35-piece Brass Choir. The band has been conducted by many notable musicians; among whom were <span data-person="band.per.0002">Professor Everett</span>, <span data-person="band.per.0003">George Hitchcock</span>, <span data-person="band.per.0005">D.F. Easterday</span>, <span data-person="band.per.0006">Lt. Earl Wehn</span>, <span data-person="band.per.0008">August Hagenow</span>, <span data-person="band.per.0009">C. B. Cornell</span>, <span data-person="band.per.0010">W. T. "Billy" Quick</span>, and the present conductor, <span data-person="band.per.0011">Donald A. Lentz</span>, who succeeded Quick in 1937.</p>
    <p>Typical of the high recognitions the band has received in recent years is the statement by the Tournament of Roses Director after the band parade and half-time show at the Nebraska-Stanford Rose Bowl game in 1940. "Beyond a doubt, the band has been the best in precision. We would like to see more of you."</p>
    <p>This album is a project of Gamma Lambda, honorary band fraternity at the University of Nebraska.</p>
  </div>

</div>

<script>
  new SimpleLightbox({elements: '.album_gallery .gallery'});
</script>
